In [1]:
import pandas as pd

In [7]:
df = pd.read_csv('/proj_sw/user_dev/sraizada/tt-metal/generated/profiler/reports/2024_05_13_09_27_57/ops_perf_results_2024_05_13_09_27_57.csv')
df = df[df['OP TYPE'].isin(['tt_dnn_device'])]
#df = df[df['DEVICE ID'].isin([3.0])]
#df = df[int(len(df)/2):]
print(df['DEVICE FW DURATION [ns]'].sum()/ 10**9)
df['% time'] = df['DEVICE KERNEL DURATION [ns]'] / df['DEVICE KERNEL DURATION [ns]'].sum() * 100
df[['OP CODE', 'DEVICE KERNEL DURATION [ns]', '% time']]

0.0

,OP CODE,DEVICE KERNEL DURATION [ns],% time
0,InterleavedToSharded,NaN,NaN
1,InterleavedToSharded,NaN,NaN
2,InterleavedToSharded,NaN,NaN
3,InterleavedToSharded,NaN,NaN
4,InterleavedToSharded,NaN,NaN
...,...,...,...
499,ttnn::operations::binary::Binary<(tt::tt_metal...,NaN,NaN
500,ttnn::operations::binary::Binary<(tt::tt_metal...,NaN,NaN
501,ttnn::operations::binary::Binary<(tt::tt_metal...,NaN,NaN
502,ttnn::operations::binary::Binary<(tt::tt_metal...,NaN,NaN
503,ttnn::operations::binary::Binary<(tt::tt_metal...,NaN,NaN